@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

body {
  margin: 0;
}

p,
li,
q,
h2,
footer,
.logo-text,
.hero-text,
button {
  font-family: 'Roboto', sans-serif;
}

/* 1. Header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.logo-text {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 800;
}

li,
p {
  color: #E5E7EB;
  font-size: 18px;
}

body > .header {
  display: flex;
  flex-direction: column;

  background-color: #1F2937;
  padding: 20px 15%;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.header .navbar ul {
  display: flex;
  gap: 20px
}

button {
  background-color: #3882F6;
  border: 2px solid #3882F6;
  color: #E5E7EB;
  padding: 8px 32px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 120px 0;
  gap: 20px;
}

.header .body .content {
  flex: 2 1 0;
}

.header .body img {
  display: flex;
  justify-content: center;
  max-width: 630px;
  max-height: 286px;

  flex: 3 1 0;
}

/* 2. Info */
.information {
  background-color: white;
  padding: 20px 18%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;

  padding-bottom: 76px;
}

.cards img {
  width: 175px;
  height: auto;
  border: solid #3882F6;
  border-radius: 16px;
}

.info-card {
  flex: 0 0 0;
  flex-wrap: wrap;

  text-align: center;
}

.info-card p {
  color: #767676;
}

.information .header {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  text-align: center;
  font-weight: 900;
  padding: 32px 0;
}

/* 3. Quote */
.quote {
  padding: 120px 30%;
  background-color: #E5E7EB;
}

.quote .body {
  display: flex;
  justify-content: center;
  align-items: center;
}

q {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote p {
  text-align: end;
  color: #1F2937;
  font-weight: 600;
  margin: 12px 0 0;
}

/* 4. CTA */

.cta {
  background-color: white;
  padding: 70px 15%;
}

.cta .body {
  display: flex;
  align-items: center;
  gap: 16px;

  background-color: #3882F6;
  min-width: 240px;
  border-radius: 20px;
  padding: 40px 80px;
}

.cta .content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.cta button {
  flex: 0 1 auto;
}

.cta h2,
.cta p {
  margin: 0;
}

.cta h2 {
  color: #F9FAF8;
  font-weight: 500;
}

.cta button {
  border: 2px solid #F9FAF8;
}

/* Footer */
footer {
  padding: 36px 0;
  text-align: center;
  background-color: #1F2937;
  color: #E5E7EB;
}